{% extends 'base.html' %}
{% block head %}
    <title>Change Password</title>
{% endblock %}

{% block body %}
{% load staticfiles %}
  <div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    <div class="well well-sm">
      <p><a class="btn-link" href="/student/">Overview</a></p>
    </div>
    <div class="well well-sm">
      <p><a href="/student/edit/">Edit Profile</a></p>
    </div>
        <div class="well well-sm">
      <p><a href="/student/change_password/">Change Password</a></p>
    </div>
    <div class="well well-sm">
      <p><a href="//">Course Enrolled / Completed</a></p>
      </div>
     <div class="well well-sm">
      <p><a href="#">Direct Questions To Instructor</a></p>
    </div>
     <div class="well well-s    m">
      <p><a href="#">Earnings</a></p>
    </div>
    </div>


    <div class="col-sm-8 text-left ">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Change Password</h2>
     </div>
         <div class="panel-body">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
   <br/>
        {% if message1 %}
       <div class="alert alert-success">
           <strong> {{ message1 }}!</strong>&nbsp;&nbsp;
        </div>

    {% endif %}
        {% if message %}
       <div class="alert alert-danger">
           <strong> {{ message }}!</strong>&nbsp;&nbsp;
        </div>

    {% endif %}
	<form role = "form" method="post" action="/student/change_password/" enctype="multipart/form-data">
        {% csrf_token %}


          <div class = "form-group">
          <label for = "courselanguage">&nbsp; Your Email</label>
          <input type = "text" class = "form-control" id = "email" name="email" value="{{ user1.email }}" disabled>
       </div>

        <div class = "form-group">
          <label for = "courselanguage">&nbsp; Enter Current Password</label>
          <input type = "password" class = "form-control" id = "password" name="password" >
       </div>

        <div class = "form-group">
          <label for = "courselanguage">&nbsp; Enter New Password</label>
          <input type = "password" class = "form-control" id = "newpassword" name="newpassword" >
       </div>

        <div class = "form-group">
          <label for = "courselanguage">&nbsp; Re-Type New Password</label>
          <input type = "password" class = "form-control" id = "renewpassword" name="renewpassword" >
       </div>



        <button type = "submit" class = "btn btn-default">Change Password</button>

	</form>
    <br />
    </div>

    </div>
    </div>
</div>
<!-- container -->
{% endblock %}